@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-muted: #797979ff;
  --color-border-primary: #333333b0;
  --color-container: #ffffffff;
}

@theme dark {
  --color-muted: #8d8f9dff;
  --color-border-primary: #333333b0;
  --color-container: #010003ff;
}

.tab > .ant-tabs-nav {
  padding: 0;
  margin: 0;
  /* background: pink; */
}

.tab .ant-tabs-tab-btn {
  /* border: 1px solid red; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ant-tabs .ant-tabs-tab {
  width: 100%;
  justify-content: center;
}
.ant-tabs .ant-tabs-tab .anticon:not(:last-child) {
  margin-right: 0;
}
